.carousel {
  width: 100%;
  height: min-content;
  background-color: blue;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.carousel__controllers {
  display: flex;
  justify-content: space-around;
  background-color: yellow;
  width: 100%;
}
.carousel__controllers img {
  width: 30px;
  transform: scale(1);
  transition: transform 0.4s ease-in-out;
}
.carousel__controllers img:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.4s ease-in-out;
}
.slide {
  background-color: red;
  width: 100%;
  transform: translateX(0%);
  text-align: center;
}
.slide img {
  width: 200px;
}

.carousel .slide:nth-child(1) {
  
}

.carousel .slide:nth-child(2) {
  margin-right: -100%;
}
.carousel .slide:nth-child(3) {
  margin-right: -100%;
}

.go-left {
  transition: transform 0.4s ease-in-out;
  transform: translateX(-100%);
}
.go-right {
  transition: transform 0.4s ease-in-out;
  transform: translateX(0%);
}
