.carousel {
  width: 100%;
  display: flex;
  position: relative;
}

.slide {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}
.slide img {
  width: 200px;
}

.carousel div:nth-child(1) {
  background-color: red;
}
